################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/angularjs-webapi-demo/bin
/angularjs-webapi-demo/Scripts
/angularjs-webapi-demo/Content
/angularjs-webapi-demo/fonts
/angularjs-webapi-demo/obj/Debug
*.user
/packages
*.suo
