################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/angularjs-webapi-demo/bin
/angularjs-webapi-demo/Scripts
/angularjs-webapi-demo/Content
/angularjs-webapi-demo/fonts
/angularjs-webapi-demo/obj/Debug
*.user
/packages
*.suo
/angularjs-webapi-demo/Test/_Chutzpah.7a61493c876957ec396b76c086e0794e.test.html
/_Chutzpah.coverage.html
