@using System.Web.Optimization

<!DOCTYPE html>
<html ng-app="stockApp" ng-cloak>
<head>
    <title>Angular Stocks</title>

    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default" role="navigation" bs-navbar>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/overview" ng-click="viewAnimation = 'slide-right'">MyStocks</a>
            </div>
            <ul class="nav navbar-nav">
                <li data-match-route="/overview">
                    <a href="#/overview" ng-click="viewAnimation = 'slide-right'">Overview</a>
                </li>
                <li data-match-route="/details">
                    <a href="#/details" ng-click="viewAnimation = 'slide-left'">Details</a>
                </li>
            </ul>
        </div>

        <div style="position:relative;">
            <ng-view ng-class="viewAnimation" class="slide"></ng-view>
        </div>
        
    </div>

    @Scripts.Render("~/Scripts/lib")
    @Scripts.Render("~/Scripts/app")
</body>
</html>
